@model RegionsViewModel



@{

    Layout = "_Layout-Mappy";

    ViewData["Title"] = "Home Page";

}







<div class="text-center">

    <h1 class="display-4">Welcome</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>



<div class="prev-right col-md-8 tall">

    <div id="mapwrapper">

        <div id="map_base">

            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 620 700" xml:space="preserve">

            <g>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">
                <path id="uk1" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M584.362,469.188c-7.47-4.991-22.539-3.492-26.665-3.809c-4.127-0.317-7.938-4.444-10.158,2.222c-2.222,6.665-6.032,8.889-9.841,9.207c-0.992,8.33-10.546,2.978-11.439,8.761c-0.744,4.808-5.147-1.741-7.767,2.03c-3.245,4.672-16.824-4.603-15.873,0.634c0.953,5.238,4.128,5.398,3.017,8.571c-1.111,3.176,4.602,6.033,1.745,8.095c-2.856,2.065-3.014,7.301-6.03,6.826c-3.017-0.477-3.333,6.983-6.507,4.921c-2.382-1.548-3.756,3.959-1.452,6.939c5.341,6.908-4.659,7.504,0.341,12.425c2.669,2.627-6.428,6.506-1.746,11.11c4.681,4.602,5.078,7.618,1.903,5.715c-3.175-1.905-5.715-1.707-3.81,0.415c1.906,2.124,0.912,3.909,4.762,5.139c7.885,2.521-0.157,7.102,3.968,10.636c8.134,1.468,12.541-6.034,19.047-5.558c4.578,0.335,3.969,3.492,6.351,6.032c2.38,2.539,7.618-1.429,9.205-0.793c1.586,0.636,3.175,4.763,4.127,6.348c0.952,1.588-5.714,1.589-5.558,3.811c6.826,7.062,11.868,1.27,13.653-0.158c-3.493-1.269,2.855-4.762,5.713-3.492c2.856,1.27,5.397,0.952,8.889,0c3.49-0.953,5.397-4.444,6.35-8.888c0.95-4.444-1.271-1.588-5.079-3.81c-3.81-2.223-1.905-2.854,0.951-5.382c2.857-2.525,3.47-2.95,5.716-0.969c5.436,4.803,12.578-0.555,12.06-7.3c-0.339-4.434,6.985-7.299,8.255-10.475s9.404-3.018,9.206-15.873c-0.105-6.918,4.767-12.613,5.078-17.46C604.2,482.997,599.323,479.187,584.362,469.188z" cursor="pointer"></path>
            </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <path id="uk2" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M494.763,407.604c-2.021,2.117-10.003,2.944-9.602,9.762c0.317,5.398-3.891,5.318-4.604,7.381c-2.062,6.507-5.396,0.158-8.57,10.952c-1.778,6.046-8.57-3.493-15.714,0.634c-4.69,2.712-2.539-6.823-8.57-8.57c-6.033-1.746-3.015-8.096-5.079-8.253c-0.738-0.058-2.062-0.896-3.475-2.06c-7.437,5.67-7.437,21.503-3.669,25.709c4.762,1.429,6.507,4.125,7.618,8.411c1.111,4.285,3.575,3.545-0.792,9.843c-6.826,9.84,14.284,8.41,7.302,15.078c-6.912,6.6,3.33,5.871,2.538,8.569c-1.602,5.449,1.588,7.142,3.494,8.095c1.904,0.953,12.222,9.841,13.332,13.332c1.109,3.494-3.493,2.383-2.698,6.033c0.793,3.65,3.808,2.537,1.745,5.236c-0.776,1.019-6.189,5.08-5.396,6.984c0.794,1.906,2.857,4.129,0.952,7.302c-1.905,3.175,0.373,8.455,3.492,7.937c5.714-0.953,1.428-3.217,6.983-6.29c5.556-3.076,6.5,4.532,9.207,2.321c6.168-5.041-9.285-7.657,10.135-12.424c-2.304-2.98-0.93-8.487,1.452-6.939c3.174,2.063,3.49-5.397,6.507-4.921c3.017,0.475,3.174-4.761,6.03-6.826c2.856-2.062-2.856-4.919-1.745-8.095c1.111-3.173-2.063-3.333-3.017-8.571c-0.951-5.236,12.628,4.038,15.873-0.634c2.619-3.771,7.022,2.777,7.767-2.03c0.894-5.783,10.447-0.431,11.439-8.761c-3.811,0.317-2.8-3.323-6.667-4.762c-10.872-4.05,3.811-14.604,6.031-16.826c2.223-2.222,5.477-0.795,4.127-5.714c-2.456-8.958-4.842-25.555-19.047-33.015c-5.158-2.71-6.508-8.729-12.893-10.963C507.698,410.224,499.922,402.208,494.763,407.604z" cursor="pointer"></path>

                    </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <path id="uk4" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M426.751,253.645c-3.174-0.794-6.348,2.063-3.491,3.967c2.854,1.905,10.635,10.317,6.348,11.747c-4.285,1.428-7.459,9.204-11.109,6.982s-10.636,7.143-9.524,8.571c0.438,0.561-1.227,2.341-3.583,4.441c2.452,3.965,6.044,6.034,8.027,7.146c8.032,4.494-5.554,5.238-1.905,10.316c4.063,5.653-3.969,0-0.317,7.937c3.652,7.938,6.827-2.698,10,2.857c1.837,3.214-2.063,14.284,2.54,17.3c3.452,2.263,5.03,7.627,4.063,10.251c2.575,2.604,4.271,0.225,6.096-0.409c4.391-2.562,6.191,2.871,9.364-0.311c3.175-3.183,7.628-5.984,9.999-2.706c5.398,7.46,6.349-0.794,11.746,3.174c1.469,1.072,7.538,0.833,5.872-1.07c-1.665-1.904-2.142-7.977,1.786-6.19c1.905,1.071,4.104-0.995,3.896-4.484c-7.706-4.801-10.604-19.205-9.65-23.014c0.953-3.81-3.81-9.524-6.666-12.698c-2.857-3.174,1.904-7.937,0-10.793c-1.905-2.856-4.364-6.63-3.809-14.92c0.675-10.078-2.943-13.315-5.199-14.443c-9.048-4.524-11.88-15.12-13.109-15.952C431.114,242.771,431.95,255.39,426.751,253.645z" cursor="pointer"></path>

                    </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <path id="uk5" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M269.339,328.957c-0.46-0.907-1.19-4.522-2.143-6.605c-0.953-2.083-4.75-0.807-7.143-1.728c-4.644-1.784-9.285,5.477-10.595,1.311c-1.31-4.167,12.261-5.119,12.022-12.5c-0.142-4.403-2.139-4.215-3.745-4.166c-3.992,0.118,0.412-3.929-3.635-4.286c-4.048-0.357,0.357-5.952-3.81-6.547c-4.166-0.596-2.04-1.859-0.952-3.69c2.619-4.404-6.071-1.31-2.976-6.785c1.906-3.374-0.238-7.5-1.548-9.762c-1.31-2.263-4.286,2.5-10.715-3.095c-4.291-3.735-11.427,0.357-13.927,0.952c-2.5,0.596-4.762,0.237-6.309,2.618c-1.548,2.382-7.143-0.832-8.214-1.785c-1.071-0.953-2.381-2.618-2.144-1.071c0.238,1.548-3.808,7.262-3.808,9.285c0,2.024-4.048,2.977-5.953,1.547c-1.062-0.796-4.082-0.741-6.817-0.517c-2.172,0.179-4.164,0.465-4.849,0.517c-1.548,0.12,1.19,5.715-3.095,7.263c-4.287,1.547,1.428,7.856-2.857,8.689c-7.746,1.507-0.953,7.976-6.19,6.785c-1.768-0.401-5.302,1.016-5.833,1.429c-4.286,3.334-5.595-1.429-8.928,0.357c-2.518,1.349-2.142,1.19-0.952,4.285c1.191,3.095,9.09,2.224,9.167,3.81c0.237,4.999-6.667,0.595-7.143,6.071c-0.477,5.494-7.976-5.237-10.356,1.547c-1.047,2.984-5.119,1.786-6.428,3.096c-1.31,1.31,3.059,5.446,3.571,7.022c1.667,5.119,9.166,6.071,8.809,11.548c-0.357,5.477,2.756,4.228,4.762,4.523c6.428,0.953,7.38,8.81,13.095,7.5c1.323-0.304,3.134-0.017,5.833,1.189c7.976,3.571,2.618-8.808,9.128-7.498c2.589,0.521,2.538-3.81,0.633-5.477s0.952-4.285,2.5-3.928c1.548,0.355,3.452-4.048,5.119-5.834c1.667-1.785,8.094,8.215,8.57,9.642c0.476,1.43-1.905,0.715-1.785,2.263c0.118,1.547,0.951,2.976,3.452,6.19c2.5,3.213,4.642,1.071,6.428,3.689c1.786,2.62-2.235,7.362-0.595,9.642c2.738,3.81,6.547-1.427,10.357,0.715c3.249,1.829,3.214-5.713,5.237-3.213c1.045,1.289,7.143-0.477,7.619,2.975c0.477,3.453,3.453-1.071,4.762,1.548c0.8,1.599-1.588,1.428-0.595,2.621c1.786,2.142,5.118-1.669,6.429-2.502c1.309-0.833,6.189-8.213,4.999-9.078c-1.19-0.863,0.715-3.658,3.095-4.729c2.381-1.072,4.605-0.691,6.85,0.475c4.579,2.382,8.744-5.832,6.364-9.403c-0.77-1.156-1.31-1.667-4.166-0.833c-2.857,0.833,1.839-5.313,1.547-8.334c-0.356-3.69-4.761-4.761-1.309-9.046c1.743-2.165,4.88,5.356,5.595,6.546c0.713,1.191,0.238,5.357-1.429,7.263s1.31,2.143,1.785,5.118c0.477,2.977,4.167-1.547,2.619-4.642C267.765,339.975,273.862,337.886,269.339,328.957z" cursor="pointer"></path>

                    </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <path id="uk6" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M385.326,440.302c0.951-2.223-10.398-12.303-2.856-14.286c3.29-0.863,4.441-0.314,5.078,2.857c0.634,3.175,6.664,6.665,7.619,6.35c0.95-0.316-6.985-7.303-7.619-13.651c-0.637-6.349-5.715-7.936-1.587-11.426c4.126-3.493,4.444-7.618,9.84-7.938c5.396-0.317,2.539-3.176-2.54-2.539c-5.079,0.636-8.572-6.984-5.079-11.111c3.491-4.125,9.206-2.856,6.665-8.569c-2.538-5.715,7.303-6.985,3.495-9.842c-3.813-2.856-1.306-9.352-4.13-4.762c-3.807,6.189-3.569-5-7.618,0.953c-2.652,3.901-9.046,6.429-6.666-0.953c2.382-7.38,0.198-6.507-2.22-2.54c-2.424,3.968-10.755-5.157-6.352-7.618c4.405-2.462-1.893-3.81-3.167-4.763c-1.277-0.951-7.941-9.838-5.085-11.744c2.856-1.904,1.916-9.841,5.085-13.016c3.167-3.175,5.389-16.19,11.738-16.823c6.35-0.636,10.478-2.858,8.571-4.763c0-7.302,4.762-4.326,6.19-6.032c1.734-1.446,7.051-5.475,10.701-8.732c2.452,3.965,6.044,6.034,8.027,7.146c8.032,4.494-5.554,5.238-1.905,10.316c4.063,5.653-3.969,0-0.317,7.937c3.652,7.938,6.827-2.698,10,2.857c1.837,3.214-2.063,14.284,2.54,17.3c3.452,2.263,5.03,7.627,4.063,10.251c-0.323,0.875-0.927,1.445-1.839,1.493c-5.874,0.32,0.951,6.54-4.606,7.08c-5.553,0.541,3.652,10.697-2.537,9.429c-4.279-0.877-10,6.51-6.985,9.683c3.018,3.174,2.065,4.762,5.081,4.762c3.014,0,3.808,6.506,7.3,6.35c3.493-0.16,4.864,1.428,6.162,4.284c1.299,2.856,4.789,6.348,2.409,7.46c-2.382,1.109-2.639,4.199-4.126,6.031c-4.762,5.872,4.126,2.855,4.937,8.889c0.214,1.592,3.026,4.74,5.556,6.829c-7.437,5.67-7.437,21.503-3.669,25.709c-3.649,1.745-6.823,3.491-7.46,2.38c-0.633-1.112-1.905,0.953-3.174,2.698c-1.269,1.746-3.65,2.537-6.507,5.557c-2.856,3.015-4.127,9.362-6.189,8.094c-2.065-1.271-4.922-0.159-7.302-1.904c-2.382-1.746-3.62-0.589-6.018,0.655c-6.997-1.211-1.446-8.151-9.969-12.594C383.976,445.498,395.76,445.736,385.326,440.302z M323.501,347.886c-8.689,3.689-2.618,4.643-11.069,14.879c-8.452,10.237-2.738,7.381-0.356,8.81c2.38,1.428,6.071-2.144,10.236-3.929c4.168-1.786,2.382-4.643,3.811-6.189c1.428-1.549,4.881-7.022,1.31-6.548C323.86,355.384,332.192,344.194,323.501,347.886z" cursor="default"></path>

                    </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <path id="uk7" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M388.499,304.118c-1.905-1.905-2.855,3.65-6.905-0.636c-4.046-4.285-5.712,3.095-8.095-0.237c-2.379-3.334-5.237,2.618-6.665-1.191c-1.43-3.81-2.619,0.478-1.43,3.333c1.19,2.857-1.904,7.144-4.999,4.763s-4.047,1.904-5.952,0.237c-1.904-1.666,0.238,3.095-1.189,4.048c-1.43,0.952-5.715,4.285-7.382,3.095c-1.666-1.189-4.286-8.809-4.286-4.523s-5.236,3.334-4.76,0.239c0.475-3.096-3.095,0-4.524-3.811c-1.429-3.809-3.57-9.047-4.286-7.143c-0.714,1.904-1.666,5,0.239,6.904c1.904,1.904,4.047,2.381,3.095,4.762c-0.953,2.382,1.429,5.238-0.238,6.428c-1.667,1.191-9.047,0.478-11.19-5.237c0,0-7.143-4.205-8.571-6.746c-1.428-2.539-7.142,0.478-6.824,3.175c0.317,2.698,0.477,6.825,2.381,8.73c1.904,1.904-1.429,5.078-3.809,1.27c-2.381-3.81,1.919-2.251-1.43-7.143c-6.153-8.99-8.796-15.549-6.031-18.571c5.119-5.595,2.976,8.81,6.667,6.668c2.069-1.203-3.65-9.365-0.159-12.54c3.492-3.175,9.682-9.841,9.842-14.603c0.158-4.761,4.76-5.079,4.126-8.253c-0.635-3.176,6.666-2.223,6.349-5.557c-0.317-3.332,0.159-10.792-3.491-12.697c-3.65-1.904-6.983-5.872-5.556-8.888c1.43-3.015,0.476-14.919,2.063-16.666c1.588-1.746,4.602-1.271,7.143,0.952c2.54,2.223,10.039,1.826,2.54-0.634c-1.866-0.612-4.03-6.589-5.556-7.301c-3.038-1.419,2.663,6.121-1.271,4.126c-5.556-2.817,2.614-9.766,0.953-11.428c-1.15-1.151-5.08,5.159-4.365,8.65c0.287,1.408-2.144,3.135-1.667,5.953c0.477,2.816-3.808,7.063-4.444,5.396c-0.634-1.667-2.737-9.325-3.492-7.857c-0.754,1.468,1.761,4.479-0.079,5.158c-2.578,0.952,3.492,5.08,3.492,6.983c0,1.905,0.716,9.563-2.46,5.318c-1.008-1.349-2.778-1.826-2.856-4.286c-0.08-2.46,1.19-3.016-0.794-5.079c-1.984-2.063-0.953-5.238-2.777-4.047c-1.826,1.19,2.539,5.952-1.271,4.523c-3.809-1.428-3.413-13.412,1.43-16.903c2.985-2.155,2.935-4.882,5.713-4.921c2.778-0.04,3.89-5.477,6.271-5.477c2.38,0,3.333-2.221,3.253-2.856c-0.08-0.634-2.144,1.032-3.65,0.794c-1.508-0.239-4.047,4.682-6.904,5.079c-2.856,0.396-2.19,1.646-5.079,4.365c-3.373,3.174-5.396,9.007-6.904,6.269c-0.679-1.231-1.429-0.316-1.19,1.509c0.237,1.825-0.08,8.809,2.063,10.951c2.143,2.144,4.086,5.914,1.586,6.429c-2.499,0.516-8.977,8.911-8.253,11.032c2.302,6.745-8.209,13.483-4.841,15.078c2.262,1.072,1.864,4.366,0.159,6.35c-1.707,1.983-4.842,0.476-7.618,1.983c-2.778,1.509-4.365-1.11-3.493-4.364c0.873-3.254,4.842-5.238,4.842-7.857s0.316-9.363,1.666-11.189c1.35-1.826,1.509-6.825,3.81-8.095c2.301-1.271,6.03-5,5.872-6.032c-0.157-1.031-4.477,5.103-6.666-2.778c-0.712-2.563,3.414-4.443,3.65-6.586c0.238-2.143-5.04,3.237-3.81,0.159c2.063-5.159-3.412-3.017,0.953-6.746c2.477-2.117,10.872-14.246,7.063-19.046c-1.244-1.569-3.146-4.152-0.476-5.636c6.07-3.372-2.381-6.349,6.508-8.491c2.105-0.508,3.81-3.175,1.904-3.413c-1.904-0.237-1.825-2.143-0.08-2.222c1.747-0.08,0.239-2.461,1.351-3.731c1.11-1.269,4.919-7.063,6.983-7.3c2.063-0.238,2.895,1.359,4.603,0c1.944-1.547-3.889-3.095-2.619-4.206c1.271-1.111,5.08-5.477,4.049-5.874c-1.033-0.396-6.362,7.56-9.049,7.778c-7.815,0.635-3.056,4.92-13.729,12.539c-1.738,1.24-4.127,0.476-5.556-0.874c-1.429-1.348-7.856-4.603-8.333-7.936c-0.476-3.333,0.477-3.492,1.508-3.095c1.031,0.397,4.762,1.269,4.603,0c-0.158-1.27-2.657,0.199-3.411-1.984c-0.755-2.183-3.334,1.27-4.842-0.873c-1.508-2.144-3.889,0.555-5.158-0.714c-1.27-1.271-1.905-5.556,1.349-5.398c3.254,0.159,7.301-1.754,8.491-0.004c1.19,1.75,6.341,0.181,5.396-2.535c-1.587-4.563,6.984-0.873,2.381-5.316c-1.802-1.741-5.555,0.159-3.729-2.539c1.825-2.699,1.271-6.667,3.81-7.063c2.539-0.397,2.182,2.063,3.889,1.507c1.706-0.555,1.189-3.526-0.794-4.206c-4.285-1.468,0.833-6.349,5.476-4.92c2.052,0.631-0.595-3.095-1.903-3.214c-1.311-0.119,4.403-3.571,4.284-7.023c-0.065-1.907-4.463-1.956-0.356-7.143c4.523-5.714-7.723,1.251-7.381-2.023c0.833-7.976-5.595-5.119,0.714-16.667c1.053-1.926,5.595,2.381,3.453-3.572c-2.143-5.951,3.451-6.07-0.239-8.808c-3.689-2.739-0.595-11.19,2.739-9.285c3.332,1.904,4.642,11.785,5.595,3.333c0.952-8.452,4.522,1.667,6.428-3.61c1.011-2.798,5.119,3.771,5.833,0c0.715-3.771,6.546,0.515,4.882-2.104c-1.667-2.62-11.429-13.69-8.929-14.405c2.5-0.714,5.476,5.953,5.714,2.381c0.238-3.571,2.976-4.761-0.596-7.737s-2.38-7.5-0.356-6.19c2.023,1.31,6.071-2.143,7.738,0.953c1.665,3.096,5.118,0.25,3.689-1.185c-1.428-1.435-5.833-5.719-1.548-10.6c1.133-1.29,6.071,3.333,3.571-3.691c-1.055-2.963-3.096-6.428-0.595-6.547c2.5-0.119,2.142-8.333,4.88-6.309c2.738,2.023,5.715,2.142,8.689,4.762c2.977,2.619,4.287,3.095,2.143,5.119c-2.143,2.023-1.189,4.642,0.716,2.38c1.905-2.262,2.91-8.57,5.713-7.261c7.144,3.333,0.716,12.142,6.548,5.238c1.476-1.747,5.834,0.833,7.976-1.547c2.144-2.381,5.237,0.714,6.548-1.31c1.308-2.024,11.189,1.904,14.166-1.905c2.975-3.809,4.285,3.69,7.975,0.952c1.488-1.103,4.643,2.976,3.453-0.833c-1.191-3.81,0.714-4.285,1.905-2.975c1.19,1.309,5.356-0.834,6.784,1.19c1.43,2.024,8.136-1.145,5.714,2.619c-10.951,17.023,2.146,8.214-2.023,13.333c-1.81,2.224-4.405,10.476-10.355,12.023c-5.952,1.547-10.762,10.946-15.238,12.5c-8.929,3.095-7.26,9.523-11.191,8.214c-2.222-0.742-4.879,3.214-4.998,6.666c-0.118,3.453-0.714,3.333-3.095,2.976c-2.381-0.356-6.141,0.123-4.524,0.953c8.811,4.524,8.69-0.953,10.001,1.429c0.733,1.336-0.744,1.905,0.64,1.785c1.384-0.118,4.717-3.571,5.668-3.332c0.953,0.238-1.189,2.618-3.095,4.762c-1.905,2.142-3.928,8.809-6.547,7.38c-2.618-1.428,0.119-1.547-1.428-2.976c-1.549-1.429-4.762,4.999-6.19,2.857c-1.428-2.144-7.847,3.919-7.382,4.523c2.382,3.096,5.596-3.928,7.619-1.785c2.024,2.143,3.691-2.143,5.595-0.357c1.905,1.786-9.523,10.833-8.332,12.262c1.19,1.428,7.736-3.453,7.142-5.238c-0.596-1.785,0.915-1.462,2.38-0.953c7.858,2.738,10.271-6.247,13.93-4.166c6.07,3.452,12.198-8.146,18.093-2.857c9.286,8.333,10.662-1.184,17.619,2.024c18.333,8.452,18.095-1.547,22.379,2.023c4.287,3.572,5.716-3.69,8.929-0.119c3.215,3.571,5.595,0.596,6.19,3.214c0.595,2.619,5.119,3.929,3.095,7.5c-1.361,2.403,2.366,6.428-1.07,10.357c-17.5,19.999-8.21,22.02-12.024,25.712c-7.38,7.143-4.642,16.666-9.762,20.118c-2.521,1.702-6.189,2.194-6.069,5.12c0.357,8.689-3.72,2.371-3.574,7.857c0.24,8.809-9.403,6.666-9.877,12.141c-0.113,1.305-3.097,1.31-4.288,0.358c-1.188-0.953-9.038,1.219-14.047,3.333c-3.05,1.287-1.547,3.333,0.595,1.905c2.144-1.428,9.168-4.047,10.479-2.856c1.308,1.19,1.546-1.787,3.093,0.594c1.549,2.381-2.066,4.32-1.069,5.596c2.977,3.809,4.403-0.715,5.118,2.856c0.713,3.571,5.595,1.905,4.405,4.047c-1.192,2.143-10.359,8.69-12.501,6.428c-2.143-2.262-3.231-4.023-5.357-0.833c-2.854,4.285-6.904,1.904-6.785,5.355c0.118,3.453-3.928,5.358-5.594,5.001c-1.667-0.357-5.834,2.857-7.143,0.833c-1.311-2.024-5.173,0.713-11.903-3.453c-2.31-1.428-4.993-2.117-1.073,1.429c5,4.523,9.88,2.5,11.785,4.405c1.907,1.904,7.738-0.239,13.572,3.214c9.327,5.522,11.307-9.166,19.521-5.714c2.508,1.054,12.856,11.19,18.452,10.594c5.595-0.595,4.999,5.952,9.389,8.929c-7.01,1.428-6.174,14.046-11.373,12.301c-3.174-0.794-6.348,2.063-3.491,3.967c2.854,1.905,10.635,10.317,6.348,11.747c-4.285,1.428-7.459,9.204-11.109,6.982s-10.636,7.143-9.524,8.571c0.438,0.561-1.227,2.341-3.583,4.441c-3.65,3.258-8.967,7.286-10.701,8.732C393.261,299.792,388.499,296.816,388.499,304.118z M242.476,50.322c2.698-0.159,1.27,2.856-1.27,4.285c-2.539,1.429,2.063,4.286,4.284,5.555c2.224,1.27,3.811,4.603,1.905,4.127c-1.905-0.477-1.111,2.698-2.698,1.746c-1.588-0.952-3.333,3.175-4.762,3.175s0.635,5.555,1.904,7.618c1.27,2.064,4.921-3.65,5.238-4.762c0.317-1.111,0.793-2.062,2.539-0.952c1.747,1.111,3.017-2.063,2.223-3.174c-0.794-1.111-2.857-3.65,0-3.175c2.856,0.477,1.111,0.159,2.381,2.54c1.269,2.381,4.522,1.994,2.698,0c-3.413-3.73-1.429-5.396-2.856-9.047c-1.429-3.65,3.333-5.714,5.555-5.079c2.223,0.636-1.746,1.429-2.857,2.858c-1.111,1.428-1.111,5.237,0.977,8.095c2.086,2.856,9.341-3.176,7.437-4.446c-1.905-1.27-1.905-2.38,0.793-2.062c2.698,0.317,3.175,0.793,4.127,0c0.952-0.794-1.588-0.318-0.159-3.175c1.429-2.857-2.38-2.381-7.618-2.54c-5.238-0.159,7.262-0.853,5.556-3.016c-2.381-3.016,4.443,0.362,3.174-3.718c-0.526-1.69,1.169-0.929,3.175-0.25c6.563,2.223,7.46-3.492,6.435-4.286c-1.025-0.793-4.688,3.492-7.344,1.904c-2.657-1.587,7.575-8.729,5.353-10.792c-2.221-2.063,3.175-4.92,1.746-8.571c-1.428-3.65-3.967-1.271-6.03,0c-2.064,1.27-6.241,5.807-8.413,6.191c-2.698,0.476-0.703,2.345-6.3,2.539c-9.175,0.318,1.459,12.619-7.826,10.158c-2.322-0.615,0.476,3.81-0.158,5.238c-0.636,1.429-1.587-0.635-1.905-3.967c-0.317-3.333-0.636-2.54-2.856-4.445c-2.223-1.904-3.811,0.318-3.017,0.794c0.795,0.476,2.54,4.286-0.158,3.016c-2.699-1.269-1.905,0.636-4.295,2.222C237.063,46.512,239.777,50.48,242.476,50.322z M218.509,118.414c0.633,8.253,4.92,4.285,6.824,5.555c1.904,1.27,0.635-2.539-0.317-3.333c-0.953-0.794-0.635-1.587,0.475-2.222c1.111-0.636-0.317-3.175-1.586-4.127c-1.27-0.952,5.317-1.587,4.762-5.873c-0.226-1.738-3.731-0.794-0.702-2.54c3.027-1.747-1.044-3.175-1.997-3.968c-0.952-0.794,0.158-1.588,3.015,0.159c2.856,1.745-2.697-9.524-0.316-7.619c2.381,1.904,3.65,0.635,3.65-0.793c0-1.429,4.443-8.571,5.396-9.364c0.953-0.794,0.317-2.064-2.297-1.587c-2.614,0.476-1.371-2.16-0.719-3.809c2.539-6.429-3.254-3.969-3.65,0.396c-0.112,1.227-2.54,3.253-3.492,0.733c-0.953-2.521-1.746,3.95-4.286,1.092c-2.54-2.857-2.063-1.905-4.127,0.794c-2.062,2.698,0.636,4.127,3.334,6.031c2.699,1.904,1.993,5.532,0.825,6.191c-3.523,1.983,2.429,4.364-0.984,6.189c-3.412,1.826-1.745,2.54-1.11,4.286c0.635,1.746-1.271,5.237-2.698,6.982C217.08,113.333,218.312,115.861,218.509,118.414z M275.966,113.176c-0.793,2.38-2.857-5.397-2.064-5.874c0.793-0.476,0.477-1.428-0.635-1.428c-1.11,0-1.27-1.905-0.158-1.905s0.793-4.126,1.429-7.936s-0.794-6.666-2.698-10.792c-1.905-4.127-3.334-0.159-6.144,0c-2.811,0.158-0.047,6.031-1.158,6.983c-1.111,0.953,3.334,7.143,2.222,8.413c-1.11,1.269-2.063-4.762-3.015-3.81c-0.953,0.952-4.604-3.333-6.008-3.809c-1.406-0.477-0.183-3.65-1.771-4.444c-1.587-0.793-2.698,3.65-0.793,5.079c1.904,1.428,1.587,2.698,0,2.281c-1.587-0.417,0.158,3.592,0.158,5.021s-2.856-1.905-3.333-3.651c-0.477-1.746-2.382-1.904-2.539,0c-0.158,1.905-3.175,3.175-1.429,4.444c1.746,1.271,1.11,3.333,4.444,6.032c3.333,2.698,3.174-0.477,2.381-1.905c-0.795-1.428,2.38-3.968,1.587-1.27c-0.794,2.697,2.381-0.953,2.845,0.634c0.464,1.588,1.123,3.967,1.917,3.016c0.794-0.953,4.444,2.699,4.762,4.92c0.318,2.222-2.856-2.063-4.285-2.539c-1.429-0.476-3.176,2.38-2.015,5.713c1.16,3.333,3.919-0.634,4.871,0.794c0.953,1.428-2.54,2.539-1.904,3.332c0.635,0.794,6.19,0,3.016,1.77s3.65,4.58,4.92,1.98c1.27-2.601,2.381-0.892,2.381,0c0,0.891,2.698,3.552,2.561,1.33c-0.139-2.222,0.933-2.381,0.772-3.015c-0.159-0.635,1.111-0.318,1.746,1.685s3.016,0.219,5.873,0c-3.492,1.209-6.508,5.933-8.095,8.791c-1.588,2.856,2.791,0,4.994,0c3.09,0,3.894-6.825,5.641-6.541c1.746,0.285,4.762-4.094,6.03-6.316c1.27-2.223-4.443-2.222-7.618-0.953c-3.174,1.27-6.666-3.332-4.053-2.221s2.625-3.175-1.026-3.492c-3.65-0.318-1.111-2.064,0-4.425c1.112-2.361-0.317-5.257,1.026-6.844s1.195-0.636-1.819-0.636C275.966,101.588,276.759,110.794,275.966,113.176z M259.617,133.718c-1.116,1.369-2.063,2.154,0,5.17c2.063,3.016,4.775,3.181,5.715,0.953C267.949,133.62,262.712,129.92,259.617,133.718z M283.426,178.569c-2.063,0-2.412-4.125-6.032-3.492s-4.914-4.855-5.872-7.302c-1.011-2.579-4.444-5.078-6.508-3.016c-2.063,2.064-1.27,2.381-3.492,1.747c-2.222-0.634-0.477,1.587-2.539,3.81c-2.064,2.221,2.539,2.38,3.521,3.809c0.981,1.428-1.934,2.222,0,3.968c1.935,1.746,8.065-2.064,9.176-0.953c1.112,1.111-3.491,2.54-4.929,2.54c-1.437,0-4.436,2.221-4.247,5.237c0.188,3.016,7.748-0.793,8.394,0.318c0.647,1.111-6.836,3.809-8.394,2.857c-1.557-0.953-3.046,0.634-4.247-1.747c-1.202-2.381-4.354,1.747-2.608,5.469c1.747,3.724,7.937-1.342,11.103-0.231c3.167,1.111,4.929-2.063,7.31-3.491c2.382-1.43,0.318,2.222,2.539,2.539c2.222,0.317,7.462-2.381,6.19-3.809c-1.27-1.43,1.271-1.43,3.175-1.588C287.869,185.076,285.488,178.569,283.426,178.569z M269.141,226.344c0.319-1.938,0.634-1.428,1.757-1.905c1.122-0.475,6.338-11.744,9.354-13.966c3.016-2.223,3.491-4.444,2.856-5.714c-0.634-1.271,0-3.175,0-4.287c0-1.11-4.126-0.793-2.539,2.858c1.588,3.649-1.638,2.616-3.175,3.015c-1.436,0.373-4.285,3.492-6.496,5.873s-3.026,3.81-0.805,4.444c2.221,0.635,2.856,1.905-0.318,1.905c-3.173,0-5.299,0.075-6.507,2.38C258.903,229.281,267.871,234.042,269.141,226.344z M249.459,241.423c-0.477,4.444,3.968,2.698,4.444,1.745c0.476-0.952,1.745-1.428,3.833-0.952c2.086,0.477,9.737-3.412,6.325-9.364c-0.728-1.27-4.282-6.722-3.651-9.365c1.746-7.301-5.396-2.222-6.949,0.477c-1.553,2.698,0.442-2.064-2.732-1.748c-3.174,0.318-6.189,4.603-5.079,6.349c1.111,1.747-5.714,5.873-3.174,8.095c2.539,2.223,4.762-3.016,6.031-3.492s2.698-4.603,4.603-3.968c1.905,0.635,1.429,1.587-0.952,2.857c-2.381,1.27,0,3.016,1.429,5.556C255.015,240.154,249.935,236.979,249.459,241.423z M233.11,169.045c-1.904-0.635-3.016,3.65-2.857,5.714c0.159,2.063,3.81,1.111,3.334,0c-0.477-1.111,4.603-1.747,4.546-3.174c-0.059-1.43,3.231-0.635,3.231-2.223c0-1.587,0,0,2.063-1.904c2.063-1.905,5.874-1.746,6.189-2.699c0.318-0.952,3.493-0.635,4.287-3.65c0.792-3.015-4.892-1.218-6.415,1.27c-1.653,2.699-3.196,4.444-4.537,3.81c-1.341-0.635-3.81,3.174-4.818,2.697C237.123,168.411,235.015,169.68,233.11,169.045z M301.996,245.787c-1.746-8.65-7.431-6.307-9.127-4.286c-4.126,4.92-0.282,8.944-1.031,11.428c-2.778,9.205,17.538,12.936,11.031,2.222c-0.941-1.55,0.396-3.175-0.873-4.286C300.727,249.755,302.389,247.732,301.996,245.787z M451.076,57.305c2.657,1.905,3.955-1.795,4.881,1.587c1.665,6.094,9.682,0.062,9.998,1.38c0.318,1.319,1.587,4.174,5.08,4.651c3.492,0.476,1.11-1.905,3.492-1.905c2.38,0,4.125-4.126,2.222-4.126c-1.904,0-4.127,2.063-4.921,1.429c-0.793-0.636,3.333-2.857,1.905-3.81c-1.429-0.953-4.602,2.698-5.397,0.953c-0.794-1.746,2.301-1.191,1.111-2.698c-1.19-1.508-7.981,2.063-6.982-1.27c0.493-1.644,7.285-4.299,0.792-7.777c-1.686-0.903-3.174-4.126-6.03-2.698c-2.857,1.428-7.301,2.063-5.874,4.603C452.782,50.162,448.42,55.4,451.076,57.305z M465.637,43.654c0.477-0.794,2.541-0.158,2.857-2.063c0.318-1.905-3.332-0.635-5.555-2.699c-2.221-2.063-2.136,0.821-1.745,2.699C461.587,43.476,465.162,44.448,465.637,43.654z M448.496,65.169c1.587,0.722,1.704,6.977,6.483,7.215c1.67,0.083,3.516-0.793,2.722-2.222c-0.794-1.428,3.53,0.506,3.65-0.952c0.398-4.842-3.645,0.477-4.284-3.175c-0.442-2.521-1.746-2.539-3.016-3.491c-1.269-0.952,0.953-0.477,0-1.905c-0.952-1.428-4.111-0.663-5.556,0C447.109,61.275,446.91,64.447,448.496,65.169z M468.813,66.305c-1.407-1.333-2.057,1.083-3.651,1.794c-1.225,0.544-1.588-1.271-2.278,0.952c-0.691,2.222,1.168,5.079,2.278,6.666c1.111,1.588,2.94,0.124,2.293-1.27C466.205,71.749,471.541,68.892,468.813,66.305z M471.353,53.939c2.682,0.964,2.698-2.349,2.381-3.936S465.637,51.887,471.353,53.939z M470.419,34.925c1.148,3.96,3.948,2.618,1.021-2.063c-1.111-1.78-5.01-1.27-2.946-2.698c2.065-1.429,4.325-3.016,1.925-3.333c-2.4-0.318-3.353,3.492-5.257,3.015c-1.905-0.476-1.588,0.37,0,2.089C466.748,33.655,470.033,33.597,470.419,34.925z M478.495,49.655c-2.699,2.112,3.808,1.46,5.21,1.994c1.399,0.534,0.183-3.841-0.925-4.026c-1.905-0.317,0.981-2.158-1.411-2.856C476.749,43.417,481.191,47.543,478.495,49.655z M473.875,43.814c1.764,1.904,2.08,0,2.238-1.905c0.089-1.061,1.273,1.292,2.289,0c3.822-4.854,7.314-0.476,8.98-4.854c0.539-1.415,3.334-1.813,2.857-2.923c-0.477-1.111-4.828,2.38-5.905,1.905c-1.078-0.477,1.777-2.698,0.826-2.857c-0.953-0.159-4.888,1.271-3.793,2.063c1.095,0.793-2.047,4.444-3.81,3.174s-4.655,0.476-3.684,1.111C474.845,40.163,472.11,41.909,473.875,43.814z M540.158,38.139c2.022-0.714,4.643-2.856,3.451-3.928c-1.189-1.071,3.811-6.666,1.786-6.786c-2.022-0.119-2.737-1.667-4.522,0c-1.786,1.667-0.618,4.259-1.786,5.385C536.587,35.218,538.133,38.854,540.158,38.139z M539.087,45.94c0.714,2.324,2.499-0.54,3.333,0.924c0.833,1.462,4.404-2.178,1.786-3.488C541.586,42.068,538.517,44.083,539.087,45.94z M534.801,48.257c-1.428-2.5,0.952-2.5,0.118-5.298c-0.832-2.8,1.429-2.678,1.312-4.729c-0.119-2.052-0.598-3.781-2.381-3.453c-1.786,0.327-2.858,1.457-3.453,4.79c-0.595,3.333-2.501,5.022-1.785,8.69C530.396,57.424,536.23,50.758,534.801,48.257z M511.112,73.375c2.5-1.191,6.069,0.833,4.047,0.714c-2.023-0.119-0.239,2.143,0.715,3.691c0.951,1.546,2.023,0.713,1.548-0.596c-0.477-1.31,1.07-0.833,3.808-2.856c2.739-2.024-0.95,4.404,1.667,5.595c2.618,1.19,0.238,6.666-0.833,8.333c-1.071,1.667-0.356,4.523-1.428,5.832c-1.072,1.31-2.263,3.453,0,5.714c2.261,2.262,3.808-0.833,2.976-2.619c-0.833-1.786,4.046-4.167,1.885-5.119c-2.164-0.952,2.161-5.476,1.329-6.189c-0.834-0.715,1.189-6.787,2.858-5.119c1.665,1.667,2.854,0.714,2.658-0.833c-0.195-1.548,0.077-3.453-1.471-2.857c-1.546,0.595-0.118-2.023-2.419-2.023s-1.509-5.119,0-3.691c1.509,1.429,3.731-1.904,2.301-1.904c-1.428,0,0.834-2.144,1.589-2.738c0.757-0.595-3.971-1.191-3.89-2.5s4.801-0.714,5.278,1.072c0.476,1.786,6.428-1.786,4.165-3.452s-2.619,0.476-5.554,0c-2.935-0.477,2.816-4.047,0.911-4.469c-1.904-0.42-1.666,2.208-4.284,1.173c-2.62-1.036-0.239-2.657-0.517-4.782c-0.275-2.126-1.627-0.969-4.064-0.097c-2.438,0.871-0.419-4.325-0.061-6.789c0.356-2.466-0.835-2.535-3.454-3.023c-2.619-0.488-0.951,6.56-4.166,4.536c-3.215-2.024-1.548,2.499-3.215,2.856c-1.667,0.357-0.815,3.129,0.833,2.262c2.262-1.19,0.715,1.547,3.572,2.262c2.855,0.714,1.904,0.357,1.07,4.643c-0.832,4.286,3.214,2.023,4.21,3.333c0.994,1.31-0.756,4.523-4.447,2.262c-3.69-2.262-5.477,2.142-7.618,0.833c-2.143-1.31-1.549,1.548-2.738,3.453C507.184,72.185,508.612,74.565,511.112,73.375z M208.508,140.793c2.222,0.952,4.921-2.381,3.968-4.286c-0.952-1.905,0.953-4.444,1.911-3.175c0.959,1.27,1.264-1.11,3.44-0.476c2.176,0.635,1.314-1.746,0-3.016c-1.316-1.27,0.521-3.017,0-3.333c-0.522-0.317-1.859,1.745-3.446,1.745c-1.587,0-1.111,3.175-2.698,3.492c-1.587,0.318-2.398,1.459-2.063,3.334C210.415,139.523,206.286,139.841,208.508,140.793z" cursor="pointer"></path>

                    </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <path id="uk8" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M545.635,578.707c3.491,1.27,7.936,0.953,11.744,5.715s6.35-0.24,6.984,6.666c0.24,2.606,3.174,1.271,9.523,0c6.347-1.271,14.602-4.445,13.649-1.271c-0.953,3.177-6.665,1.588-5.715,4.444c0.953,2.857,3.364,3.395,2.541,9.209c-1.23,8.687-10.396,5.713-15.872,12.379c-5.477,6.663-1.904,12.696-8.571,8.252c-6.667-4.443-4.127,1.906-6.983,2.54c-2.858,0.636-16.824,5.395-18.729,8.888c-1.904,3.493-4.763,3.811-7.619,1.588c-2.857-2.222-16.507-7.937-21.585-6.348c-5.08,1.587-15.238,0.952-17.144,3.175c-1.905,2.222-6.03,4.762-7.936,0c-1.904-4.762-0.316-6.667-4.762-6.667c-4.446,0-2.223,6.348-5.396,5.396c-3.175-0.952-7.937-3.491-9.842-6.032c-1.905-2.54-2.539-1.271-1.269,2.222c1.269,3.493,0.634,5.081-2.223,4.128c-2.856-0.952-4.762,4.126-6.669,3.175c-1.488-0.746-3.174-0.714-5.662-0.359c-0.701-1.709-2.035-2.34-4.495-2.817c-8.626-1.668,4.285-10.315-4.285-12.538c-2.63-0.683-3.967-3.492-2.539-4.921c1.429-1.429,10,3.652,12.697,3.652c2.696,0,0.953-15.715-0.792-20.159c-1.745-4.445,6.665-0.951,6.665-8.096c0-3.55,3.015-4.284-0.952-6.189c-3.967-1.903,3.493-8.57-3.968-12.38c-6.474-3.304,5.078-9.204-1.745-14.922c-6.825-5.713,3.966-4.125,1.27-8.41c-1.072-1.7,2.856-6.032,2.219-8.255c11.51-2.658,3.177-11.763,14.446-16.03c0.794,1.906,2.857,4.129,0.952,7.302c-1.905,3.175,0.373,8.455,3.492,7.937c5.714-0.953,1.428-3.217,6.983-6.29c5.556-3.076,6.5,4.532,9.207,2.321c6.168-5.041-9.285-7.657,10.135-12.424c5.341,6.908-4.659,7.504,0.341,12.425c2.669,2.627-6.428,6.506-1.746,11.11c4.681,4.602,5.078,7.618,1.903,5.715c-3.175-1.905-5.715-1.707-3.81,0.415c1.906,2.124,0.912,3.909,4.762,5.139c7.885,2.521-0.157,7.102,3.968,10.636c2.756,2.357-3.014,9.204,0.796,11.428c3.809,2.221,3.331,3.648,6.347,5.076c3.018,1.429-1.744,4.605,0.478,5.875c2.222,1.269,3.014-3.493,4.125-3.017c1.112,0.476,2.539,4.763,4.444,5.556c1.905,0.795,4.286-3.81,6.191-2.381c1.905,1.428,0.635,3.679,3.493,2.474c2.856-1.203,3.968-4.377,3.648-7.235c-0.317-2.856,3.81-5.715,3.649-7.936C538.808,585.927,543.85,580.135,545.635,578.707z M468.972,637.908c-3.335,0.637-4.782-4.061-7.143-3.49c-5.873,1.416-1.43,4.921-5.557,4.284c-4.127-0.635-9.998,2.095-6.347,2.557c3.65,0.459,6.016,3.462,9.838,6.81c5.08,4.444,6.189-6.032,8.571-5.874C470.715,642.354,472.305,637.274,468.972,637.908z" cursor="pointer"></path>

                    </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <path id="uk9" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M439.606,632.988c-8.626-1.668,4.285-10.315-4.285-12.538c-2.63-0.683-3.967-3.492-2.539-4.921c1.429-1.429,10,3.652,12.697,3.652c2.696,0,0.953-15.715-0.792-20.159c-1.745-4.445,6.665-0.951,6.665-8.096c0-3.55,3.015-4.284-0.952-6.189c-3.967-1.903,3.493-8.57-3.968-12.38c-6.474-3.304,5.078-9.204-1.745-14.922c-6.825-5.713,3.966-4.125,1.27-8.41c-1.072-1.7,2.856-6.032,2.219-8.255c-0.634-2.224-0.315-2.538,1.114-5.237c1.428-2.699-3.493-0.952-4.762-4.443c-1.271-3.491-2.699-1.747-5.556-0.795c-2.856,0.953,0.477,3.81,0,6.352c-0.477,2.539-7.46-2.382-9.841-0.637c-2.381,1.746-5.555-0.793-6.983,1.589c-1.43,2.38-5.397,0.474-5.237-2.279c0.157-2.753-3.334,0.69-6.35,0.056c-3.018-0.634-1.111,4.285,0.634,7.937c1.746,3.648-8.254,4.92-10.95,7.143c-0.307,3.226-2.656,11.636-0.233,16.35c0.308-0.348,0.601-0.715,0.867-1.113c3.811-5.713,10.159-6.348,6.032-4.444c-4.127,1.907-3.808,9.207-8.254,11.748c-4.445,2.538-7.302,8.57-9.523,8.886c-2.223,0.318-1.586,3.811-4.445,5.398c-2.856,1.588,0,9.522-1.269,10.157c-1.27,0.637,0,6.983-3.492,1.904c-3.493-5.076-10.951,3.412-19.047-2.856c-4.109-3.183-8.253,0.317-12.062-1.588c-3.81-1.902-17.777,2.859-19.683,2.859c-1.904,0-4.127,4.761-1.587,6.347c2.539,1.589,0.634,3.492-2.221,7.62c-2.858,4.127-6.669-0.953-10.477-1.271c-3.811-0.318-3.175,10.476-2.858,14.602c0.317,4.129-7.936,10.158-8.887,12.699c-0.953,2.538-4.445,6.031-6.984,5.715c-2.539-0.319-6.032,4.443-6.032,9.522c0,5.076-6.029,4.444-6.349,6.666c-0.316,2.223-2.907,7.64-6.03,7.302c-5.873-0.635-5.873,8.529-8.889,5.712c-3.016-2.814-4.127,2.225-7.302,2.225s-1.587,3.808-3.492,8.252c-1.904,4.447,6.032,0.634,6.984-0.951c0.952-1.588-0.636-4.128,5.079-1.588c5.714,2.539,7.301,3.811,8.889,8.572c1.587,4.761,2.38-2.263,6.024-1.905c3.646,0.356,2.546-2.54,0.642-5.398c-1.905-2.856,0.952-1.586,1.904-5.395c0.952-3.812,3.81-0.318,6.667-2.688c2.857-2.37,7.619-3.979,7.619-6.519c0-2.54,2.856-5.396,6.031-3.811c3.174,1.588,9.206-1.902,12.062-0.951c2.857,0.951,7.302,0.634,5.714-1.589c-1.586-2.222,3.215-8.769,3.492-4.443c0.278,4.326,3.175,0.953,2.857,5.081c-0.318,4.124,3.492-0.319,4.127,3.173c0.634,3.49,4.127,1.269,5.395,5.396c1.27,4.126,10.16,4.444,11.429,2.538c1.269-1.904,0.953-6.346,4.821-7.3c3.867-0.952-4.86-3.096,0.894-6.984c3.146-2.126-4.088-7.064,1.271-7.618c5.355-0.554-0.358-11.588,5.079-8.253c4.292,2.633,7.216-7.412,11.742-5.714c11.747,4.402,3.176-13.811,27.619,7.618c4.224,3.702,4.762-3.809,7.936-1.589c3.176,2.223,11.747,3.177,16.191,3.494c4.442,0.317,0.635-5.396-2.541-7.069c-3.175-1.675,1.904-3.089,4.443-0.728c2.54,2.359,13.013-2.624,13.701-2.721C443.4,634.097,442.066,633.466,439.606,632.988z" cursor="pointer"></path>

                    </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <path id="uk10" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M400.012,566.804c-4.109,4.634-11.646,4.854-13.418,3.967c-1.905-0.951-9.523,4.126-9.842,7.302c-0.314,3.174-11.742,8.888-15.235,4.762c-3.491-4.127-9.204-4.76-9.522-9.206c-0.318-4.444-9.028-10.46-10.158-8.253c-2.502,4.879-9.007,1.229-10.159,4.125c-1.15,2.896-7.301-3.491-3.81-4.761c3.492-1.269,10.476-1.905,7.619-3.811c-2.856-1.902-13.016,0.636-11.428-3.809c1.586-4.443-1.271,0-2.54-3.81s-2.331,2.138-5.396,1.271c-10.237-2.899-7.965,8.765-11.745,7.3c-6.856-2.656-6.667,6.033-10.158,2.54c-3.492-3.493-2.817-5.951,0.317-4.759c3.134,1.187,7.936-2.543,5.079-3.496c-2.857-0.951-4.444,2.542-8.571,0.319c-4.127-2.224-6.35-3.572-3.492-6.032c2.857-2.461,0.238-8.771-5.396-6.349c-2.351,1.012-1.27-5.396,3.81-6.348c5.079-0.953,3.809-8.255,8.254-5.715c4.444,2.539,10.476-3.174,12.063-5.713c1.588-2.542,9.206,0,13.016-3.811c3.809-3.81,13.333-6.032,15.236-13.016c1.905-6.983,3.81-14.919,6.349-15.555c2.54-0.635,2.223-4.127-1.271-3.174c-3.49,0.953-2.22-6.136,0.319-9.259c2.54-3.123,3.491-4.075-0.634-3.439c-4.128,0.636-4.444-7.302-2.858-10.158c1.587-2.856,5.715-5.715,2.223-5.079c-3.492,0.635-6.984-3.492-10.794-0.316c-3.809,3.173-8.888,4.125-8.888,6.665c0,2.541-1.191,4.643-2.857,1.904c-1.667-2.738-10.832,4.88-5.716-3.808c3.991-6.773,4.129-2.223,8.257-6.35c4.125-4.126,9.563-8.57,9.521-11.11c-0.039-2.542,7.619-10.489,9.842-10.794c2.223-0.303,12.063-1.269,11.428-3.493c-0.634-2.221,0.908-3.651,4.128-1.585c7.419,4.76,17.775-6.348,21.269-2.223c3.492,4.128,9.522,10.794,10.477,8.571c10.434,5.435-1.351,5.196,3.535,7.742c8.522,4.442,2.972,11.383,9.969,12.594c2.438,0.424-0.574,6.669-3.03,4.582c-3.174-2.698-6.587,0.039-7.144-3.017c-0.555-3.058-8.252,0.318-8.729,4.445c-0.477,4.126,0.635,8.095,4.127,9.205c3.493,1.111,3.491,4.762,1.744,6.508c-1.744,1.745-7.142,12.539-2.855,11.428c4.285-1.111,5.556-1.43,3.968,1.27c-1.586,2.699-3.967,1.432-6.983,3.175c-3.016,1.747-5.079,3.173-1.429,6.349c3.651,3.176,8.103,2.54,9.369,4.445c1.265,1.905-3.655,1.587-1.909,4.602c1.746,3.018-5.872,6.191-6.031,10.952c-0.158,4.762,6.033,19.364,9.522,18.095c3.493-1.27,5.239-0.159,5.396,2.38c0.16,2.542,5.715,2.065,5.398,5.398C399.938,553.68,397.589,562.09,400.012,566.804z M323.86,445.38c2.619,2.144,8.451-5,8.57-5.833c1.905-2.739,7.38-4.167,6.309-6.071c-1.07-1.905-1.07-1.905-3.69,0.477c-2.618,2.38-4.522-10.477-7.023-8.69c-2.737,0.356-2.737-2.619-5.594-0.714c-2.857,1.904-4.285-0.478-5.015,0.833c-0.73,1.31-1.176,5.475-0.224,6.308c0.953,0.835-1.909,3.248,0,3.93c1.667,0.596,1.189,4.88,3.571,6.547c1.573,1.101,3.689-1.428,4.285-0.595C325.645,442.403,321.241,443.236,323.86,445.38z" cursor="pointer"></path>

                    </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <path id="uk11" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M468.019,517.756c2.063-2.699-0.952-1.586-1.745-5.236c-0.795-3.65,3.808-2.539,2.698-6.033c-1.11-3.491-11.428-12.379-13.332-13.332c-1.906-0.953-5.096-2.646-3.494-8.095c0.792-2.698-9.45-1.97-2.538-8.569c6.982-6.668-14.128-5.238-7.302-15.078c4.367-6.298,1.903-5.558,0.792-9.843c-1.111-4.286-2.856-6.982-7.618-8.411c-3.649,1.745-6.823,3.491-7.46,2.38c-0.633-1.112-1.905,0.953-3.174,2.698c-1.269,1.746-3.65,2.537-6.507,5.557c-2.856,3.015-4.127,9.362-6.189,8.094c-2.065-1.271-4.922-0.159-7.302-1.904c-2.382-1.746-3.62-0.589-6.018,0.655c2.438,0.424-0.574,6.669-3.03,4.582c-3.174-2.698-6.587,0.039-7.144-3.017c-0.555-3.058-8.252,0.318-8.729,4.445c-0.477,4.126,0.635,8.095,4.127,9.205c3.493,1.111,3.491,4.762,1.744,6.508c-1.744,1.745-7.142,12.539-2.855,11.428c4.285-1.111,5.556-1.43,3.968,1.27c-1.586,2.699-3.967,1.432-6.983,3.175c-3.016,1.747-5.079,3.173-1.429,6.349c3.651,3.176,8.103,2.54,9.369,4.445c1.265,1.905-3.655,1.587-1.909,4.602c1.746,3.018-5.872,6.191-6.031,10.952c-0.158,4.762,6.033,19.364,9.522,18.095c3.493-1.27,5.239-0.159,5.396,2.38c0.16,2.542,5.715,2.065,5.398,5.398c2.696-2.223,12.696-3.494,10.95-7.143c-1.745-3.651-3.651-8.57-0.634-7.937c3.016,0.635,6.507-2.809,6.35-0.056c-0.16,2.753,3.808,4.659,5.237,2.279c1.429-2.382,4.603,0.157,6.983-1.589c2.381-1.745,9.364,3.176,9.841,0.637c0.477-2.542-2.856-5.398,0-6.352c2.856-0.952,4.285-2.696,5.556,0.795c1.269,3.491,6.189,1.744,4.762,4.443c-1.43,2.699-1.748,3.014-1.114,5.237c11.51-2.658,3.177-11.763,14.446-16.03C461.829,522.836,467.242,518.774,468.019,517.756z" cursor="pointer"></path>

                    </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <path id="uk12" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M472.661,337.647c-3.928-1.786-3.451,4.286-1.786,6.19c1.666,1.903-4.403,2.143-5.872,1.07c-5.397-3.968-6.348,4.286-11.746-3.174c-2.371-3.278-6.824-0.477-9.999,2.706c-3.173,3.182-4.974-2.251-9.364,0.311c-1.825,0.634-3.521,3.014-6.096,0.409c-0.323,0.875-0.927,1.445-1.839,1.493c-5.874,0.32,0.951,6.54-4.606,7.08c-5.553,0.541,3.652,10.697-2.537,9.429c-4.279-0.877-10,6.51-6.985,9.683c3.018,3.174,2.065,4.762,5.081,4.762c3.014,0,3.808,6.506,7.3,6.35c3.493-0.16,4.864,1.428,6.162,4.284c1.299,2.856,4.789,6.348,2.409,7.46c-2.382,1.109-2.639,4.199-4.126,6.031c-4.762,5.872,4.126,2.855,4.937,8.889c0.214,1.592,3.026,4.74,5.556,6.829c1.413,1.164,2.736,2.002,3.475,2.06c2.064,0.157-0.954,6.507,5.079,8.253c6.031,1.747,3.88,11.282,8.57,8.57c7.144-4.127,13.936,5.412,15.714-0.634c3.175-10.794,6.509-4.445,8.57-10.952c0.714-2.063,4.922-1.982,4.604-7.381c-0.401-6.817,7.58-7.645,9.602-9.762c5.159-5.396,12.936,2.62,14.487-2.074c-3.486-1.222,4.718-4.193,9.401,3.662c1.984,3.329,16.823,6.983,13.968,3.176c-2.857-3.811-10.477-19.683-13.651-23.492c-3.175-3.809-4.443-13.016,0.638-12.38c5.079,0.635-0.723-5.527-3.494-6.667c-10.237-4.205-7.261-19.8-23.173-29.205c-4.92-2.908-10.226-3.626-16.381-7.46C476.765,336.652,474.566,338.719,472.661,337.647z" cursor="pointer"></path>

                    </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <path id="uk13" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M236.959,368.479c-1.309-2.619-4.285,1.905-4.762-1.548c-0.477-3.451-6.574-1.686-7.619-2.975c-2.023-2.5-1.988,5.042-5.237,3.213c-3.81-2.142-7.619,3.095-10.357-0.715c-1.64-2.279,2.381-7.021,0.595-9.642c-1.786-2.618-3.928-0.477-6.428-3.689c-2.5-3.215-3.333-4.644-3.452-6.19c-0.12-1.548,2.261-0.833,1.785-2.263c-0.477-1.427-6.904-11.427-8.57-9.642c-1.667,1.786-3.571,6.189-5.119,5.834c-1.548-0.357-4.405,2.261-2.5,3.928s1.956,5.997-0.633,5.477c-6.51-1.31-1.152,11.069-9.128,7.498c-2.699-1.206-4.51-1.493-5.833-1.189c-5.714,1.31-6.667-6.547-13.095-7.5c-2.005-0.296-5.119,0.953-4.762-4.523c0.357-5.477-7.142-6.429-8.809-11.548c-0.513-1.576-4.881-5.713-3.571-7.022c1.309-1.31,5.381-0.111,6.428-3.096c2.381-6.784,9.88,3.947,10.356-1.547c0.476-5.477,7.38-1.072,7.143-6.071c-0.076-1.586-7.976-0.715-9.167-3.81c-1.19-3.095-1.565-2.937,0.952-4.285c3.333-1.786,4.643,2.977,8.928-0.357c0.531-0.413,4.065-1.83,5.833-1.429c5.238,1.19-1.556-5.278,6.19-6.785c4.285-0.833-1.43-7.143,2.857-8.689c4.285-1.548,1.547-7.143,3.095-7.263c0.685-0.052,2.677-0.338,4.849-0.517c0.167-5.061,7.437-11.04,12.578-12.584c7.004-2.104,1.504-5.322-3.961-6.811c-5.466-1.489,0.976-2.526-9.645-8.268c-7.198-3.89,5.684,9.76-5.339,7.889c-4.759-0.808-7.923,5.028-3.961,9.334c3.961,4.307-0.345,9.99-2.067,12.918s-6.832,4.42-2.583-3.617c2.834-5.36-1.55-8.095-0.344-12.745s-0.172-7.578-5.339-4.822c-5.167,2.756-0.057,8.611-4.133,6.122s-3.147,4.053-6.028-0.955c-4.823-8.382-9.53,9.415-16.887,3.272c-5.086-4.247-1.943,8.669-10.498,15.328c-5.479,4.265,7.061,6.89,5.167,9.817s-7.578,0.688-10.85,1.722c-3.272,1.034,8.267,3.445,5.339,5.856s-11.367-1.551-14.639,1.895c-3.272,3.444-7.234,3.272-1.723,7.578c5.512,4.306,18.372-1.492,18.601,3.271c0.229,4.765,8.439-3.961,11.711-0.86c3.272,3.1-5.684,5.855-6.373,10.333c-0.689,4.479-9.817,5.512-16.706,9.747c-6.889,4.236,2.411,7.82,0,12.987s-0.131-4.024-17.567-6.2c-9.116-1.138-5.511,6.2-11.711,6.2s0.689-6.66-5.856-9.645c-6.545-2.985-7.233-1.263-10.563,0.918c-3.33,2.182-11.138-4.592-15.845-4.248c-4.708,0.345,1.722,3.559-1.493,6.086c-3.215,2.526-6.085-2.872-9.759-1.033c-3.674,1.838-1.033,4.249-2.297,6.2c-1.264,1.95-3.33,10.678-0.918,9.3s2.067-7.462,4.478-9.761c2.411-2.295,4.938,1.034,2.296,2.183c-2.642,1.149,1.148,1.951-1.607,7.35c-2.756,5.396,8.152,1.262,4.249,5.279c-2.336,2.406,2.87,7.234-0.575,7.466c-3.444,0.229-4.133-7.35-7.692-5.283c-3.559,2.067-3.56-1.033-6.66,0.689c-3.1,1.722,2.641,2.526,7.349,4.706c4.708,2.182,2.756,6.2,5.741,8.268c2.985,2.066,6.085-5.625,14.697-0.689c4.366,2.503-2.526,2.411,1.148,5.627c3.674,3.216-6.2,3.789-12.745,2.642c-6.544-1.147,0.803,17.223-6.43,14.009c-4.574-2.035-2.066,4.018-6.775,2.066c-4.708-1.952-5.396,1.378-2.182,6.889c3.214,5.512-1.607-0.344-2.87,4.823c-1.263,5.167,4.235,1.155,5.97,4.247c2.642,4.708,6.208-2.621,9.531,0.115c3.903,3.216-5.856,4.249-2.642,7.693s8.153-2.643,8.842-0.92c0.689,1.722-4.02,2.526-2.642,5.971c2.785,6.962,9.071-4.478,9.875,0.116c0.476,2.717,6.66,4.937,10.678,1.033c4.019-3.904,8.841,1.837,14.582-1.149c5.742-2.985,2.296,2.527,4.937,5.053s-0.918,5.512-3.903,3.33c-2.985-2.183-6.431,4.134-8.153,2.067c-1.722-2.067-4.363-2.642-3.903,0.917c0.459,3.56-7.004,2.756-6.086,7.464c0.688,3.529-6.314,5.512-5.511,7.923s5.053-0.114,6.086,1.607c1.033,1.723-9.071,6.545-8.038,9.76c1.033,3.214,0.459,6.774-3.445,3.674c-3.903-3.1-0.115,3.214-11.711,8.725c-11.596,5.512-3.789,5.398-1.608,5.398s5.397-3.561,7.349-2.411c1.952,1.147,5.052-0.231,5.052-2.526c0-2.296,3.56,1.033,6.086,3.444s2.067,2.526-1.148,3.444c-3.215,0.918-6.544-2.183-9.989-0.345c-3.444,1.838,1.493,5.512-5.855,8.956c-4.333,2.03-9.186,0.918-10.563,3.101c-1.377,2.183,9.759-0.229,6.085,7.119c-1.284,2.568-1.034,4.133,1.607,4.592s1.264,3.675-0.918,2.411c-2.182-1.263-6.43,3.561-10.449-1.262c-1.42-1.703-2.067-2.642-2.87,0c-0.803,2.64-6.66,0.918-4.938-2.183c1.722-3.1-9.186,1.723-9.989,4.478c-0.804,2.756-2.182,2.986-2.756,1.264c-0.574-1.722-4.249,3.33-3.904,6.2c0.344,2.87,1.357,2.271,5.167,0.23c6.431-3.444,8.612,4.134,16.305,0c3.529-1.897,7.463-1.033,10.563-1.608c3.101-0.574,3.675,1.723,2.297,3.56c-1.377,1.837-4.249-1.033-6.085,0.345c-1.837,1.377-0.115,2.526-3.33,4.822c-3.215,2.295-12.286,3.904-15.501,5.855c-3.215,1.951,0.574,2.527-1.033,4.594c-1.607,2.066-2.871-4.822-6.2,3.673c-1.519,3.876,1.378,1.723,2.067,5.512s6.889-4.478,8.497-2.296s3.1-0.688,4.133,1.263s-8.267,1.033-2.067,5.855c2.774,2.157,22.619-8.151,26.982-8.611c4.363-0.46,3.1,1.838,1.608,1.608c-1.492-0.23-2.526,4.019-6.086,3.214s-4.134,5.282-7.234,4.249s-4.707,6.773-8.726,6.314c-4.019-0.458-1.378,3.789-5.511,3.331c-4.134-0.459-4.823,2.525-2.871,2.295c1.952-0.229,8.726,1.952,10.907,0s5.167,1.147,8.382-2.297c3.215-3.444,7.233-0.917,11.481-3.789c4.248-2.871,5.282-1.607,4.593,1.838c-0.689,3.446-17.682,7.118-18.945,10.334c-1.263,3.216,14.353-5.396,14.123-3.1c-0.23,2.296-5.281,2.869-6.43,5.051c-1.148,2.181-7.004,2.066-8.267,4.708s1.722,3.33,7.693-1.033c2.016-1.474,6.544-0.573,12.056-2.756c5.512-2.183-7.119,11.253,5.512,3.559c6.042-3.681,10.792-5.855,12.515-3.099s14.697-4.708,17.108-2.642c2.411,2.067,6.2,0.115,5.167-2.641s3.214-1.951,6.43-0.918c3.215,1.033,3.789-5.282,14.008-7.35c2.869-0.579-1.723-7.348,1.493-9.759s1.494,3.476,4.478,4.014c10.219,1.841,12.974-8.491,15.73-6.539c2.755,1.951,2.411-5.512,15.39-7.464c3.216-0.484,3.21-5.167,1.029-7.004c-2.181-1.838,3.1-5.052,5.856-4.019c2.755,1.033,5.281-2.985,11.941-1.035c6.66,1.953,4.478-3.328,6.774-3.213c2.296,0.114,0.804,4.247,7.234,3.789c6.429-0.46,0.459-4.021,2.066-6.315c1.607-2.296,1.952,6.315,4.478,5.051c2.526-1.264,2.871-3.674,1.953-5.051c-0.918-1.378,3.461-4.778,3.674-3.561c1.263,7.234,4.133,0.712,7.463,4.938c4.478,5.684,8.497-4.247,9.416-0.114c0.919,4.134,3.33,2.009,5.625-2.525c2.296-4.536-5.224-2.183-5.511-7.119s5.454-1.436,4.478-5.396c-0.976-3.962,11.137-10.507,8.497-18.83c-2.641-8.324,4.535-7.866,3.56-13.434c-0.977-5.569,10.793-7.005,5.626-18.717c-2.933-6.647,6.2-7.75-2.641-17.911c-3.89-4.472,2.628-17.324-0.574-21.012c-6.43-7.406,8.21-4.136,1.148-11.483c-2.229-2.319-7.739-13.544-5.741-19.402c3.33-9.761-6.314-8.728-6.774-12.86c-0.46-4.134,2.642-3.905,4.593-2.756c1.952,1.148,4.134-1.378,4.477-3.932C235.371,369.906,237.759,370.077,236.959,368.479z" cursor="default"></path>

                    </a>

            <a onclick="showInfo(event)">

            <path id="uk3" fill="#1E8449" stroke="#9CA8B6" vector-effect="non-scaling-stroke" d="M498.81,569.025c8.134,1.468,12.541-6.034,19.047-5.558c4.578,0.335,3.969,3.492,6.351,6.032c2.38,2.539,7.618-1.429,9.205-0.793c1.586,0.636,3.175,4.763,4.127,6.348c0.952,1.588-5.714,1.589-5.558,3.811c0.16,2.221-3.967,5.079-3.649,7.936c0.319,2.858-0.792,6.032-3.648,7.235c-2.858,1.205-1.588-1.046-3.493-2.474c-1.905-1.429-4.286,3.176-6.191,2.381c-1.905-0.793-3.332-5.08-4.444-5.556c-1.111-0.477-1.903,4.285-4.125,3.017c-2.222-1.27,2.54-4.446-0.478-5.875c-3.016-1.428-2.538-2.855-6.347-5.076C495.796,578.229,501.565,571.383,498.81,569.025z" cursor="pointer"></path>

                    </a>

                   

                </g>

 

            <g id="visnames" fill="white">

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk1" transform="matrix(1 0 0 1 530 516)" cursor="pointer"><tspan x="0" y="0" font-size="18">East</tspan><tspan x="-7" y="21" font-size="18">Anglia</tspan></text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk2" transform="matrix(1 0 0 1 473 456)" cursor="pointer"><tspan x="0" y="0" font-size="16">East</tspan><tspan x="-16" y="19" font-size="16">Midlands</tspan></text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk3" transform="matrix(1 0 0 1 439 563)" font-size="16" cursor="pointer">London</text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk4" transform="matrix(1 0 0 1 416 293)" cursor="pointer"><tspan x="0" y="0" font-size="16">North</tspan><tspan x="3" y="19" font-size="16">East</tspan></text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk5" transform="matrix(1 0 0 1 181 311)" cursor="pointer"><tspan x="0" y="0" font-size="17">Northern</tspan><tspan x="7" y="20" font-size="17">Ireland</tspan></text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk6" transform="matrix(1 0 0 1 370 335)" cursor="default"><tspan x="0" y="0" font-size="16">North</tspan><tspan x="1" y="19" font-size="16">West</tspan></text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk7" transform="matrix(1 0 0 1 324 169)" font-size="20" cursor="pointer">Scotland</text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk8" transform="matrix(1 0 0 1 465 615)" font-size="16" cursor="pointer">South East</text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk9" transform="matrix(1 0 0 1 334 626)" font-size="16" cursor="pointer">South West</text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk10" transform="matrix(1 0 0 1 323 543)" font-size="19" cursor="pointer">Wales</text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk11" transform="matrix(1 0 0 1 404 493)" cursor="pointer"><tspan x="0" y="0" font-size="15">West</tspan><tspan x="-12" y="18" font-size="15">Midlands</tspan></text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk12" transform="matrix(1 0 0 1 430 385)" font-size="19" cursor="pointer">Yorkshire</text>

                </a>

            <a onclick="showInfo(event)" data-toggle="modal" data-target="#regionModal">

            <text id="uk13" transform="matrix(1 0 0 1 119 443)" font-size="20" cursor="default">Ireland</text>

                </a>

                </g>

            @*<g id="ukjspins"><rect x="433" y="502" width="18" height="18" fill="rgba(0, 0, 0, 0.5)"></rect><rect x="432" y="501" width="18" height="18" fill="#1a1aff" stroke="#000080" stroke-width="1" id="ukjspins_0" cursor="pointer"></rect><circle cx="421" cy="422" r="10" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="420" cy="421" r="10" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_1" cursor="pointer"></circle><circle cx="346" cy="234" r="8" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="345" cy="233" r="8" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_2" cursor="pointer"></circle><circle cx="453" cy="301" r="7" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="452" cy="300" r="7" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_3" cursor="pointer"></circle><circle cx="459" cy="430" r="7" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="458" cy="429" r="7" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_4" cursor="pointer"></circle><circle cx="395" cy="427" r="7" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="394" cy="426" r="7" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_5" cursor="pointer"></circle><circle cx="392" cy="233" r="7" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="391" cy="232" r="7" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_6" cursor="pointer"></circle><circle cx="249" cy="326" r="7" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="248" cy="325" r="7" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_7" cursor="pointer"></circle><circle cx="21" cy="401" r="0" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="20" cy="400" r="0" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_8" cursor="pointer"></circle><circle cx="51" cy="401" r="0" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="50" cy="400" r="0" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_9" cursor="pointer"></circle><circle cx="101" cy="401" r="0" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="100" cy="400" r="0" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_10" cursor="pointer"></circle><circle cx="151" cy="401" r="0" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="150" cy="400" r="0" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_11" cursor="pointer"></circle><circle cx="201" cy="401" r="0" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="200" cy="400" r="0" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_12" cursor="pointer"></circle><circle cx="251" cy="401" r="0" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="250" cy="400" r="0" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_13" cursor="pointer"></circle><circle cx="301" cy="401" r="0" fill="rgba(0, 0, 0, 0.5)"></circle><circle cx="300" cy="400" r="0" fill="#e60000" stroke="#660000" stroke-width="1" id="ukjspins_14" cursor="pointer"></circle></g>*@

    </svg>

        </div>

    </div><!--mapwrapper-->



</div>



<!-- Modal -->

<div class="modal fade" id="regionModal" tabindex="-1" role="dialog" aria-labelledby="regionModalLabel" aria-hidden="true">

    ">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="regionModalLabel"></h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                </button>

            </div>

            <div class="modal-body" style="background-image: url('img/tree-modal-1.jpg');background-repeat: no-repeat; background-size: cover;">



                @{ 
                    if (Model.Regions != null) {
                        foreach (var r in Model.Regions)
                        {
                        <div class="card d-none" style="" name="@r.Name.Replace(" ", "")-modal-card" id="@r.Id-modal-card-uk">

                            <div class="card-header">

                                @r.Name has a woodland coverage of 9%. Major woodland attractions include..

                            </div>

                            <ul class="list-group list-group-flush">

                                @foreach (var t in r.Resources)

                                {

                                    <li class="list-group-item">

                                        <a href="@t.URL" target="_blank"><h2>@t.Name</h2></a>

                                        <p>@t.Description</p>

                                    </li>

                                }

                            </ul>

                        </div>

                            }
                        }


                    }



            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <button type="button" class="btn btn-primary">Save changes</button>

            </div>

        </div>

    </div>

</div>

<script type="text/javascript">

    var currentRegion = 0;
    var regionName = "UK";

    function showInfo(e) {

        alert('this fires!' + e.currentTarget.children[0].id);
        currentRegion = e.currentTarget.children[0].id.substring(2);

        var cards = document.getElementsByClassName("card");



        for (i = 0; i < cards.length; i++) {

            cards[i].className = "card d-none";

        }

        document.getElementById(currentRegion + "-modal-card-uk").className = "card d-block";

    }

    @*@{

        foreach (var r in Model.Regions)

        {

            r.Selected = false;

        }

    }*@

</script>